annotated-types
anyio
bidict
blinker
certifi
charset-normalizer
click
cloudinary
distro
dnspython
Flask
Flask-Cors
Flask-SocketIO
groq
h11
httpcore
httpx
idna
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
pydantic
pydantic_core
pymongo
python-dotenv
python-engineio
python-socketio
requests
simple-websocket
six
sniffio
tf-keras
typing_extensions
urllib3
Werkzeug
wsproto
